* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    margin: 0 20%;
}
.main p {
    margin: 20px 0;
}
input,textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
}
form div input:first-child {
    float: left;
    width: 48.5%;
}
form div input:last-child {
    float: right;
    width: 48.5%;
}
button {
    border: none;
    background-color: rgb(52, 180, 148);
    color: white;
    padding: 10px;
}