* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 0 20%;
    padding: 50px;
    text-align: center;
    background-color: violet;
}
.form_login {
    background-color: white;
    margin: 0 150px;
    padding: 0 40px;
    border-radius: 5px;
}
.form_login h2 {
    font-size: 30px;
    padding: 30px 0;
}
.form_login div button {
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    border: solid 1px rgb(0, 0, 0, 0.3);
    margin-bottom: 30px;
}
.form_login div button:first-child {
    background-color: violet;
    float: left;
    width: 50%;
    color: white;
}
.form_login div button:last-child {
    background-color: white;
    float: right;
    width: 50%;
    color: rgb(0, 0, 0, 0.8);
}
.form_login input {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0,0.5);
    border: solid 1px rgb(0, 0, 0, 0.3);
    border-radius: 5px;
    padding-left: 10px;
}
.form_login h4 {
    text-align: left;
    color: rgb(238, 130, 238, 0.8);
    margin-bottom: 20px;
}
.form_login button {
    width: 100%;
    padding: 10px 0;
    border: solid 0.5px rgb(0, 0, 0, 0.3);
    background-color: violet;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.form_login p {
    padding-bottom:20px;
}
.form_login p a {
    text-decoration: none;
    color: rgb(238, 130, 238, 0.8);
}

